<main class="grid">
    <ng-container>
        <div class="col-offset-1 col-10" id="html-content">
            <div class="grid">
                <h2 class="col-12 font-bold text-center">Schedule</h2>
                <p-card class="col-12">
                    <div class="grid">
                        <div class="col-1"></div>
                        <div class="col" id="date-col">1</div>
                        <div class="col" id="date-col">1</div>
                        <div class="col" id="date-col">1</div>
                        <div class="col" id="date-col">1</div>
                        <div class="col" id="date-col">1</div>
                        <div class="col" id="date-col">1</div>
                        <div class="col" id="date-col">1</div>
                        <div class="col" id="date-col">1</div>
                        <div class="col" id="date-col">1</div>
                        <div class="col" id="date-col">1</div>
                        <div class="col" id="date-col">1</div>
                        <div class="col" id="date-col">1</div>
                    </div>
                </p-card>                
            </div>
        </div>
    </ng-container>
 </main>
 
 