/* You can add global styles to this file, and also import other style files */
body {
    font-family: var(--font-family);
}

#date-col{
    background-color: #0D6986;
}

#shift-row{
    background-color: #DBA507;
}